body {
    font-family: sans-serif;
}

.content {
    width: 80%;
    float: left;
    margin-left: 40px;
    margin-right: 40px;
}

h1 {
    font-family: sans-serif;
    font-size: 28px;
    color: black;
    text-align: center;
    font-weight: bolder;
}

h2 {
    font-family: sans-serif;
    font-size: 18px;
    color: darkgray;
    text-align: center;
    font-weight: bolder;
}

#main_menu {
    float: left;
    margin-top: 40px;
    width: 160px;
    height: 150px;
    margin-bottom: 0px;
    border-style: solid;
    border-width: thin;
}

#main_menu h1 {
    font-family: sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    font-weight: bolder;
}

div.flashes {
    margin-left:auto;
    margin-right:auto;
    border-style: groove;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    width: 90%;
    background-color: lightgray;
}

ul.flashes {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.info_table {
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
}

.info_table td {
    border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
}

.test_run {
    border: 1px solid;
    margin-bottom: 10px;
}

.test_run_header {
    background-color: lightgray;
}

.test_run_header ul {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
}

.test_run_body ul {
    list-style-type: none;
}

.test_run .type {
    font-weight: bold;
}

.test_run_body ul ul {
    list-style-type: disc;
}

.test_run_delete_button_wrapper {
    text-align: center;
    padding-bottom: 10px;
}

ul.bottom_menu {
    text-align: center;
}

ul.bottom_menu li {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#junit_import_form {
    text-align: center;
}

#form_type_wrapper {
    display: table;
    margin: 0 auto;
    text-align: left;
}

form ul.errors {
    color: red;
}

#junit_import_form textarea {
    width: 90%;
    height: 600px;
}

table.query {
    margin-left:auto; 
    margin-right:auto;
}

table.query td.submit {
    text-align: center;
}

#dialog {
    display: none;
}