{% extends 'layout.html' %}

{% block title %}Import Junit file{% endblock %}

{% block content %}
    <form id="junit_import_form" method="POST" enctype="multipart/form-data">
        <div id="form_type_wrapper">
            <input type="radio" name="type" value="text" checked="checked">From text
            <br/>
            <input type="radio" name="type" value="file">From file
            <br/>
        </div>
        <textarea name="junit"></textarea>
        <br/>
        <input type="file" name="file"/>
        <br/>
        <div class="labels_box">
            <div class="labels">
            </div>
            <div class="labels_buttons">
                <input type="button" name="add" value="Add label"/>
                <input type="button" name="remove" value="Remove label"/>
            </div>
        </div>
        <br/>
        <input type="submit"/>
    </form>
{% endblock %}
