<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>JUnit Simple Storage</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>

    <body>
        <div id="main_menu">
            <h1>Main menu</h1>

            <ul>
                <li><a href="{{ url_for('gui.statistic') }}">Statistic</a></li>
                <li><a href="{{ url_for('gui.list') }}">List test runs</a></li>
                <li><a href="{{ url_for('gui.importTestRuns') }}">Import test runs</a></li>
                <li><a href="{{ url_for('gui.queryTestRuns') }}">Find test runs</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>JUnit Simple Storage</h1>
            <h2>{% block title %}{% endblock %}</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flashes">
                        <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </div>
        <div id="dialog">
            <p>Content</p>
        </div>
        <input id="root_url" type="hidden" value="{{ url_for('gui.statistic') }}"/>
    </body>
</html>