{% extends 'layout.html' %}

{% block title %}Test runs{% endblock %}

{% block content %}
    {% for testRun in testRuns.items %}
        <div class="test_run">
            <input type="hidden" name="id" value="{{ testRun.id }}"/>
            <div class="test_run_header">
                <ul>
                    <li><span class="type">Class Name:</span> {{ testRun.classname if testRun.classname }}</li>
                    <li><span class="type">Test Name:</span> {{ testRun.name if testRun.name }}</li>
                    <li><span class="type">State:</span> {{ testRun.state if testRun.state }}</li>
                </ul>
            </div>
            <div class="test_run_body">
                <ul>
                    <li><span class="type">Import time:</span> {{ testRun.importTime.strftime('%Y-%m-%d %H:%M:%S') if testRun.importTime }}</li>
                    <li><span class="type">Timestamp:</span> {{ testRun.timestamp.strftime('%Y-%m-%d %H:%M:%S') if testRun.timestamp }}</li>
                    <li><span class="type">Hostname:</span> {{ testRun.hostname if testRun.hostname }}</li>
                    <li><span class="type">Time:</span> {{ testRun.time if testRun.time }} s</li>
                    <li><span class="type">Message:</span> {{ testRun.message if testRun.message }}</li>
                    <li>
                        <span class="type">Labels:</span>
                        <ul>
                            {% for label in testRun.labels %}
                                <li>{{ label.key }} = {{ label.value }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <div class="test_run_delete_button_wrapper">
                    <button class="test_run_delete_button">Delete</button>
                </div>
            </div>
        </div>
    {% endfor %}
    
    <ul class="bottom_menu">
        {% if testRuns.has_prev == True %}
        <li><a href="{{ url_for('gui.list', page = testRuns.prev_num) }}">Previous</a></li>
        {% endif %}

        {% if testRuns.has_next == True %}
        <li><a href="{{ url_for('gui.list', page = testRuns.next_num) }}">Next</a></li>
        {% endif %}
    </ul>
{% endblock %}
